.App {
  text-align: center;
}

.logoImage {
  width: 400px;
  margin-bottom: 50px;

  /* Small ass devices */
  @media only screen and (max-width: 399px) {
    width: 200px;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
